# Peer-graded Assignment: Analyzing Historical Stock/Revenue Data and Building a Dashboard

# Mahdieh Sajadi

In [3]:
# import libraries

import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

import plotly.io as pio
pio.renderers.default = "iframe"

import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)

# Question 1 - Extracting Tesla Stock Data Using yfinance - 2 Points

In [4]:
tesla = yf.Ticker("TSLA")
tesla_data = tesla.history(period="max")
tesla_data.reset_index(inplace=True)
tesla_data.head(5)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

# Question 2 - Extracting Tesla Revenue Data Using Webscraping - 1 Points

In [5]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"
html_data = requests.get(url).text
#Parse the html data using `beautiful_soup` using parser i.e `html5lib` or `html.parser`.
soup_tesla = BeautifulSoup(html_data, 'html.parser')

In [6]:
tesla_revenue = pd.read_html(str(soup_tesla))[0]
tesla_revenue.head()

,Tesla Annual Revenue (Millions of US $),Tesla Annual Revenue (Millions of US $).1
0,2021,"$53,823"
1,2020,"$31,536"
2,2019,"$24,578"
3,2018,"$21,461"
4,2017,"$11,759"

In [7]:
tesla_revenue.columns = ['Date', 'Revenue']
# tesla_revenue.head(3)

In [8]:
tesla_revenue["Revenue"] = tesla_revenue['Revenue'].str.replace(',|\$',"",regex=True)
# tesla_revenue.head(3)

### Convert to integer

In [9]:
tesla_revenue['Revenue'] = tesla_revenue['Revenue'].astype("int")

In [10]:
tesla_revenue.tail(5)

    Date  Revenue
8   2013     2013
9   2012      413
10  2011      204
11  2010      117
12  2009      112

In [11]:
tesla_revenue.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     13 non-null     int64
 1   Revenue  13 non-null     int32
dtypes: int32(1), int64(1)
memory usage: 288.0 bytes

# Question 3 - Extracting GameStop Stock Data Using yfinance - 2 Points

In [12]:
gme = yf.Ticker("GME")

In [13]:
gme_data = gme.history(period="max")

In [14]:
gme_data.reset_index(inplace=True)
gme_data.head(5)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620128,1.693350,1.603296,1.691666,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712708,1.716074,1.670626,1.683251,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683251,1.687459,1.658002,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578048,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615921,1.662210,1.603296,1.662210,6892800,0.0,0.0

In [15]:
gme_data.tail(5)

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
5900,2025-07-28 00:00:00-04:00,23.35,23.559999,22.950001,22.980000,11481900,0.0,0.0
5901,2025-07-29 00:00:00-04:00,23.01,23.040001,22.530001,22.549999,6078800,0.0,0.0
5902,2025-07-30 00:00:00-04:00,22.59,22.790001,22.270000,22.450001,7956600,0.0,0.0
5903,2025-07-31 00:00:00-04:00,22.35,23.340000,22.299999,22.450001,13749900,0.0,0.0
5904,2025-08-01 00:00:00-04:00,22.32,22.610001,21.920000,22.100000,7839500,0.0,0.0

# Question 4 - Extracting GameStop Revenue Data Using Webscraping

In [16]:
url_gme = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html"
html_data = requests.get(url_gme).text

soup_gme = BeautifulSoup(html_data, 'html.parser')

In [17]:
gme_revenue = pd.read_html(str(soup_gme))[0]
# gme_revenue

In [18]:
gme_revenue.columns = ['Date', 'Revenue']
# gme_revenue

In [19]:
gme_revenue["Revenue"] = gme_revenue['Revenue'].str.replace(',|\$',"",regex=True)
# gme_revenue

### Convert to integer

In [20]:
gme_revenue['Revenue'] = gme_revenue['Revenue'].astype("int")

In [21]:
gme_revenue.tail(5)

    Date  Revenue
11  2009     8806
12  2008     7094
13  2007     5319
14  2006     3092
15  2005     1843

In [22]:
gme_revenue.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     16 non-null     int64
 1   Revenue  16 non-null     int32
dtypes: int32(1), int64(1)
memory usage: 324.0 bytes

# Question 5 - Tesla Stock and Revenue Dashboard - 2 Points
- First I created a function that I can use for both question 5 and question 6

In [23]:
def make_graph(stock_price, stock_revenue, stock_name):
    """
    Creates a dashboard to visualize stock and revenue data.

    Args:
        stock_price (pd.DataFrame): DataFrame with stock data, must contain 'Date' and 'Close' columns.
        stock_revenue (pd.DataFrame): DataFrame with revenue data, must contain 'Date' and 'Revenue' columns.
        stock_name (str): The name of the stock for the title.
    """
    # Create a figure with a secondary y-axis
    fig = make_subplots(specs=[[{"secondary_y": True}]])
    # Add Stock Price trace (Line Chart)
    fig.add_trace(
        go.Scatter(
            x=stock_price['Date'],
            y=stock_price['Close'],
            name='Stock Closing Price',
            line=dict(color='royalblue')   ),
        secondary_y=False, )
    # Add Revenue trace (Bar Chart)
    fig.add_trace(
        go.Bar(
            x=stock_revenue['Date'],
            y=stock_revenue['Revenue'],
            name='Yearly Revenue',
            marker=dict(color='rgba(255, 127, 140, 0.6)') ), # Orange with some transparency 
        secondary_y=True,)
    # Set titles and labels
    fig.update_layout(
        title_text= f'{stock_name} Stock Price vs. Yearly Revenue',
        title_x=0.5,
        legend=dict(x=0.01, y=0.99, bordercolor='black', borderwidth=1) )

    # Set x-axis title
    fig.update_xaxes(title_text='Date')

    # Set y-axes titles
    fig.update_yaxes(
        title_text='<b>Primary:</b> Stock Closing Price ($US)',
        secondary_y=False,color='royalblue' )
    fig.update_yaxes(
        title_text='<b>Secondary:</b> Yearly Revenue ($US Millions)',
        secondary_y=True,  color='rgba(255, 127, 140, 1)' )
    fig.show()

In [24]:
make_graph(tesla_data, tesla_revenue, "Tesla")

# Question 6 - GameStop Stock and Revenue Dashboard- 2 Points

In [25]:
make_graph(gme_data, gme_revenue, "GameStop")

# Question 7 - Sharing your Assignment Notebook - 2 Points

https://github.com/madsj2023/NPower-DataAnalyst/blob/main/Analyzing-Historical-Stock.ipynb