# Peer-graded Assignment: Analyzing Historical Stock/Revenue Data and Building a Dashboard

# Mahdieh Sajadi

In [32]:
# import libraries

import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

import plotly.io as pio
pio.renderers.default = "iframe"

import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)

# Question 1 - Extracting Tesla Stock Data Using yfinance - 2 Points

In [33]:
tesla = yf.Ticker("TSLA")
tesla_data = tesla.history(period="max")
tesla_data.reset_index(inplace=True)
tesla_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

# Question 2 - Extracting Tesla Revenue Data Using Webscraping - 1 Points

In [34]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"
html_data = requests.get(url).text
#Parse the html data using `beautiful_soup` using parser i.e `html5lib` or `html.parser`.
soup_tesla = BeautifulSoup(html_data, 'html.parser')

In [82]:
tesla_revenue = pd.read_html(str(soup_tesla))[0]
tesla_revenue.head(3)

,Tesla Annual Revenue (Millions of US $),Tesla Annual Revenue (Millions of US $).1
0,2021,"$53,823"
1,2020,"$31,536"
2,2019,"$24,578"

In [86]:
tesla_revenue.columns = ['Date', 'Revenue']
# tesla_revenue.head(3)

In [85]:
tesla_revenue["Revenue"] = tesla_revenue['Revenue'].str.replace(',|\$',"",regex=True)
# tesla_revenue.head(3)

### Convert to integer

In [39]:
tesla_revenue['Revenue'] = tesla_revenue['Revenue'].astype("int")

In [90]:
tesla_revenue.head(3)

   Date Revenue
0  2021   53823
1  2020   31536
2  2019   24578

In [40]:
tesla_revenue.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     13 non-null     int64
 1   Revenue  13 non-null     int32
dtypes: int32(1), int64(1)
memory usage: 288.0 bytes

# Question 3 - Extracting GameStop Stock Data Using yfinance - 2 Points

In [70]:
gs = yf.Ticker("GME")

In [71]:
gs_data = gs.history(period="max")

In [72]:
gs_data.reset_index(inplace=True)
gs_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620129,1.693350,1.603296,1.691667,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712707,1.716073,1.670626,1.683250,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683250,1.687458,1.658001,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615920,1.662210,1.603296,1.662210,6892800,0.0,0.0

In [73]:
gs_data.tail()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
5900,2025-07-28 00:00:00-04:00,23.35,23.559999,22.950001,22.980000,11481900,0.0,0.0
5901,2025-07-29 00:00:00-04:00,23.01,23.040001,22.530001,22.549999,6078800,0.0,0.0
5902,2025-07-30 00:00:00-04:00,22.59,22.790001,22.270000,22.450001,7956600,0.0,0.0
5903,2025-07-31 00:00:00-04:00,22.35,23.340000,22.299999,22.450001,13749900,0.0,0.0
5904,2025-08-01 00:00:00-04:00,22.32,22.610001,21.920000,22.100000,7839500,0.0,0.0

# Question 4 - Extracting GameStop Revenue Data Using Webscraping

In [74]:
url_gs = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html"
html_data = requests.get(url_gs).text

soup_gs = BeautifulSoup(html_data, 'html.parser')

In [87]:
gs_revenue = pd.read_html(str(soup_gs))[0]
# gs_revenue

In [88]:
gs_revenue.columns = ['Date', 'Revenue']
# gs_revenue

In [89]:
gs_revenue["Revenue"] = gs_revenue['Revenue'].str.replace(',|\$',"",regex=True)
# gs_revenue

### Convert to integer

In [79]:
gs_revenue['Revenue'] = gs_revenue['Revenue'].astype("int")

In [91]:
gs_revenue.head()

   Date Revenue
0  2020    6466
1  2019    8285
2  2018    8547
3  2017    7965
4  2016    9364

In [80]:
gs_revenue.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Date     16 non-null     int64
 1   Revenue  16 non-null     int32
dtypes: int32(1), int64(1)
memory usage: 324.0 bytes

# Question 5 - Tesla Stock and Revenue Dashboard - 2 Points
- First I created a function that I can use for both question 5 and question 6

In [66]:
def create_dashboard(stock_price, stock_revenue, stock_name):
    """
    Creates a dashboard to visualize stock and revenue data.

    Args:
        stock_price (pd.DataFrame): DataFrame with stock data, must contain 'Date' and 'Close' columns.
        stock_revenue (pd.DataFrame): DataFrame with revenue data, must contain 'Date' and 'Revenue' columns.
        stock_name (str): The name of the stock for the title.
    """
    # Create a figure with a secondary y-axis
    fig = make_subplots(specs=[[{"secondary_y": True}]])
    # Add Stock Price trace (Line Chart)
    fig.add_trace(
        go.Scatter(
            x=stock_price['Date'],
            y=stock_price['Close'],
            name='Stock Closing Price',
            line=dict(color='royalblue')   ),
        secondary_y=False, )
    # Add Revenue trace (Bar Chart)
    fig.add_trace(
        go.Bar(
            x=stock_revenue['Date'],
            y=stock_revenue['Revenue'],
            name='Yearly Revenue',
            marker=dict(color='rgba(255, 127, 140, 0.6)') ), # Orange with some transparency 
        secondary_y=True,)
    # Set titles and labels
    fig.update_layout(
        title_text= f'{stock_name} Stock Price vs. Yearly Revenue',
        title_x=0.5,
        legend=dict(x=0.01, y=0.99, bordercolor='black', borderwidth=1) )

    # Set x-axis title
    fig.update_xaxes(title_text='Date')

    # Set y-axes titles
    fig.update_yaxes(
        title_text='<b>Primary:</b> Stock Closing Price ($US)',
        secondary_y=False,color='royalblue' )
    fig.update_yaxes(
        title_text='<b>Secondary:</b> Yearly Revenue ($US Millions)',
        secondary_y=True,  color='rgba(255, 127, 140, 1)' )
    fig.show()

In [69]:
create_dashboard(tesla_data, tesla_revenue, "Tesla")

# Question 6 - GameStop Stock and Revenue Dashboard- 2 Points

In [81]:
create_dashboard(gs_data, gs_revenue, "GameStop")

# Question 7 - Sharing your Assignment Notebook - 2 Points